NODE_ENV=development

SERVICE_NAME=grade-service

HTTP_HOST=0.0.0.0
HTTP_PORT=4102

GRPC_HOST=0.0.0.0
GRPC_PORT=5102

AUTH_GRPC_ADDRESS=localhost:5100
ENROLLMENT_GRPC_ADDRESS=localhost:5101

MONGODB_URI=mongodb://mongo1:27117,mongo2:27118,mongo3:27119/online_enrollment?replicaSet=enrollment-rs&retryWrites=true&w=majority
MONGODB_DATABASE=online_enrollment

JWT_ACCESS_SECRET=replace-me-with-a-secure-secret-key
JWT_SECRET=replace-me-with-a-secure-secret-key
JWT_ISSUER=online-enrollment-auth-service
JWT_AUDIENCE=online-enrollment-system


FRONTEND_URL=http://localhost:3001 -> replace-with-frontend-vm-ip-address

API_GATEWAY_URL=http://127.0.0.1:4000 -> replace-with-api-gateway-vm-ip-address

REALTIME_INTERNAL_SECRET=replace-me-with-the-same-long-random-secret
