NODE_ENV=development

HTTP_HOST=0.0.0.0
HTTP_PORT=4101

GRPC_HOST=0.0.0.0
GRPC_PORT=5101

AUTH_GRPC_ADDRESS=localhost:5100

MONGODB_URI=mongodb://mongo1:27117,mongo2:27118,mongo3:27119/online_enrollment?replicaSet=enrollment-rs

FRONTEND_URL=http://localhost:3001