NODE_ENV=development

HTTP_HOST=0.0.0.0
HTTP_PORT=4100

GRPC_HOST=0.0.0.0
GRPC_PORT=5100

MONGODB_URI=mongodb://mongo1:27117,mongo2:27118,mongo3:27119/online_enrollment?replicaSet=enrollment-rs

JWT_ACCESS_SECRET=N7EpMnrpLALgTWJVsSksltD+XzYyST58fju9eypaX+6i+I2fFgBAGY6FTFTwYdPi
JWT_EXPIRES_IN=1h
JWT_ACCESS_EXPIRES_IN=1h

FRONTEND_URL=http://localhost:3001