NODE_ENV=development

HTTP_HOST=0.0.0.0
HTTP_PORT=4100

GRPC_HOST=0.0.0.0
GRPC_PORT=5100

MONGODB_URI=mongodb://mongo1:27117,mongo2:27118,mongo3:27119/online_enrollment?replicaSet=enrollment-rs

JWT_ACCESS_SECRET=replace-me-with-a-secure-secret-key
JWT_SECRET=replace-me-with-a-secure-secret-key
JWT_ISSUER=online-enrollment-auth-service
JWT_AUDIENCE=online-enrollment-system


JWT_EXPIRES_IN=1h
JWT_ACCESS_EXPIRES_IN=1h

FRONTEND_URL=http://localhost:3001 -> replace-with-frontend-vm-ip-address