NODE_ENV=development
SERVICE_NAME=api-gateway

HTTP_HOST=0.0.0.0
HTTP_PORT=4000

FRONTEND_URL=http://localhost:3001 -> replace-with-frontend-vm-ip-address
FRONTEND_URLS=http://localhost:3001,https://h61zcjl1-3001.asse.devtunnels.ms

AUTH_SERVICE_URL=http://127.0.0.1:4100 -> replace-with-auth-service-vm-ip-address
ENROLLMENT_SERVICE_URL=http://127.0.0.1:4101 -> replace-with-enrollment-service-vm-ip-address
GRADE_SERVICE_URL=http://127.0.0.1:4102 -> replace-with-grade-service-vm-ip-address
PROFILE_SERVICE_URL=http://127.0.0.1:4103 -> replace-with-profile-service-vm-ip-address

JWT_ACCESS_SECRET=replace-me-with-a-secure-secret-key
JWT_SECRET=replace-me-with-a-secure-secret-key

JWT_ISSUER=online-enrollment-auth-service
JWT_AUDIENCE=online-enrollment-system

PROXY_TIMEOUT_MS=15000

REALTIME_INTERNAL_SECRET=replace-me-with-a-long-random-secret
