NODE_ENV=development
SERVICE_NAME=api-gateway

HTTP_HOST=0.0.0.0
HTTP_PORT=4000

FRONTEND_URL=http://localhost:3001
FRONTEND_URLS=http://localhost:3001,https://h61zcjl1-3001.asse.devtunnels.ms

AUTH_SERVICE_URL=http://127.0.0.1:4100
ENROLLMENT_SERVICE_URL=http://127.0.0.1:4101
GRADE_SERVICE_URL=http://127.0.0.1:4102
PROFILE_SERVICE_URL=http://127.0.0.1:4103

JWT_ACCESS_SECRET=replace-me-with-a-secure-secret-key
JWT_SECRET=replace-me-with-a-secure-secret-key

JWT_ISSUER=online-enrollment-auth-service
JWT_AUDIENCE=online-enrollment-system

PROXY_TIMEOUT_MS=15000
